[submodule "webhook"]
	path = webhook
	url = https://github.com/BetaGoRobot/BetaGo-webhook.git
[submodule "dal/neteaseapi/netease-api-service"]
	path = dal/neteaseapi/netease-api-service
	url = https://github.com/BetaGoRobot/NeteaseCloudMusicApi.git
[submodule "dal/qqmusicapi/qqmusic-api-service"]
	path = dal/qqmusicapi/qqmusic-api-service
	url = https://github.com/jsososo/QQMusicApi.git
