name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-push:

    runs-on: ubuntu-latest
#     env:
#      tag: $(date +%s)
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: export tag=$(date +%s) && docker build . --file Dockerfile --tag kevinmatt/betago:$tag && docker push kevinmatt/betago:$tag
